/* 
Global styles 
*/
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}
h2 {
    font-family: 'Barlow', sans-serif;
}

select {
    font-family: 'Nunito', sans-serif;
}



/* 
Font Styles 
*/

.barlowFont {
    font-family: 'Barlow', sans-serif;
}

.halfOpacity {
    opacity: 0.5;
}

.lightGrey {
    color: #222b45;
}

.bold {
    font-weight: 700;
}



/* 
Header section 
*/

#headerSection {
    background-image:
    linear-gradient(270deg, #00000000,  #000000A5),
    url("/images/Hero-Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 5%;
    position: relative;
}

header {
    width: 90%;
    color: white;
    margin-left: auto

}

header h1 {
    width: 40%;
}

header p {
    font-size: 20px;
    width: 35%;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 80%;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    margin: auto 0.5rem;
}

nav ul li a {
    display: flex;
    align-items: center;


}

nav img {
    width: 3rem;
    height: 3rem;
}

.navActive {
    border-top: 2px solid #04e1d9;
}

.active {
    color: #04afa8;
    font-weight: 700;
}



#destinationChecker {
    background-color: #ffffff;
    width: 60%;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    box-shadow: 0px 0px 20px #0000001A;
    position: absolute;
    bottom: -5%;
    left: 20%;
    text-align: center;
}

#destinationChecker label {
    font-size: 1rem;
}

#destinationChecker button {
    width: 8rem;
    height: 3rem;
    border-radius: 24px;
    background-color:#ff710f;
    color: #ffffff;
    border: none;
}

.destinationDropdown {
    border: none;
    background-color: #ffffff;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #979797;
}

#checkDate {
    display: flex;
    font-size: 12px;
}

#checkDate p {
    margin-right: 0.5rem;
}



#checkOut {
    border-left: 1px solid black;
}

.checkCalender {
    width: 18px;
}



/* 
Feature section 
*/

#featuredSection {
    display: flex;
    justify-content: space-around;
    column-gap: 5rem;
    margin: 8rem auto 10rem;
    width: 80%;
}

#featuredDestination {
    width: 40%;

}

#starRating {
    display: block;
}

#featuredImg {
    width: 540px;
    height: 494px;
    border-radius: 15px;
}

#featuredPrice {
    font-size: 32px;
    color: #04afa8;
    border-left: 2px solid #04e1d9;
    padding-left: 0.8rem;
    display: inline-block
}

#bookNowBtn {
    width: 11rem;
    height: 2.5rem;
    color: #ffffff;
    background-color: #ff710f;
    border: none;
    border-radius: 24px;
    margin-left: 5rem;;
}



/* 
Package section 
*/

#packageSection h1{
    margin-bottom: 0;
    font-weight: 700;
}

#packageHeader {
    text-align: center;
    width: 55%;
    margin: auto;
}

#packagesHeaderText {
    font-size: 14px;
    opacity: 0.75;
    color: #222b45;
    width: 55%;
    margin-left: auto;
    margin-right: auto
}

#packagePanels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    width: 70%;
    margin: 5rem auto 10rem;;
}

.panel {
    background-color: #f7f9fc;
    border-radius: 8px;
    padding: 2rem;
    min-width: 250px;

}

.panel:nth-child(2) {
    box-shadow: 0px 14px 28px #00000026;;
}

.packagePrice {
    color: #04afa8;
    font-size: 28px;
    font-family: 'Barlow';
    font-weight: bold;
}

.packagePriceSpan {
    font-size: 16px;
    vertical-align: middle;
    font-weight: lighter;
}

.packageDescription {
    font-size: 14px;
    color: #222b45;
    opacity: 0.5;
    margin-bottom: 1.5rem;
}

.panel li {
    list-style-image: url(images/check-box.svg);
    margin-bottom: 1.5rem;
    font-size: 14px;
}

.panel li span {
    margin-left: 1rem;
}

.panel button {
    width: 100%;
    border: none;
    border-radius: 25px;
    height: 3rem;
    margin-left: auto;
    background-color: #222b45;
    color: white;
    margin-top: 2.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.panel:nth-child(2) button {
    background-color: #ff710f;
}



/* 
Testimonial section 
*/

#testimonialSection {
    background-color: #F7F9FC;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 5rem 9rem;
    align-items: center;
}

#testimonialSection h5 {
    color: #ff710f;
    font-weight: lighter;
    margin-top: 0;
}

.scrollArrow {
    width: 60px;
    color: #04afa8
}

.customerTestimonial {
    display: flex;
    column-gap: 4rem;
    width: 55%;
}

.testimonialImage img   {
    width: 316px;
    height: 316px;
    border-radius: 10px;
    vertical-align: middle;
}

.testimonialReview {
    font-size: 40px;
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    margin-top: 0;
}

.testimonialName {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #04afa8;
    margin: 0;
}

.testimonialLocation {
    font-weight: 100;
    font-size: 16px;
    color: #04afa8;
    margin: 0;
}


/* 
Footer section 
*/

#footerSection {
    background-image: linear-gradient(296deg, #04afa8, #008DCD);
    background-repeat: no-repeat;
    padding: 6rem;
    color: #ffffff;
}

footer {
   width: 85%;
    display: flex;
    margin: auto;
}

footer h4 {
    font-weight: 100;
}

#customerHelp {
    width: 60%;
    font-weight: 100;
    margin-bottom: 5rem;
}

#companyAddress {
    display: inline-block;
    margin-top: 0;
}

#navArrow {
    width: 20px;
    float: left;
    margin: 0.3rem 1rem
}


#contactUsForm  {
    height: 100%;
    width: 80%;
    background-color: #ffffff;
    margin-left: auto;
    max-width: 485px;
    border-radius: 8px;
    box-sizing: border-box;
    color: black;
}

#contactUsForm form {
    text-align: center;
}

#contactUsForm h2 {
    text-align: left;
    margin-left:3rem;
}

#contactUsForm input {
    border: none;
    border-bottom: solid 1px #979797;
    height:4rem;
    margin-bottom: 1rem;
    width: 80%;
}

#contactUsForm button {
    width: 90%;
    margin: 2rem 0;
    height: 3rem;
    border: none;
    color: #ffffff;
    background-color: #ff710f;
    border-radius:24px;
}