/* Global styles */
body {
    font-family: 'Barlow', sans-serif;
    margin: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}


/* Header section */

#headerSection {
    background-image:
    linear-gradient(270deg, #00000000,  #000000A5),
    url("/images/Hero-Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 5%;
}

#headerSection h3 {
    font-size: small;
    font-weight: lighter;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 80%;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0 2rem;
}

nav ul {
    height: 100%;
    vertical-align: center;
    /* margin: 0; */
    /* margin-top: auto;
    margin-bottom: auto; */
}

/* nav ul:first-child {
    justify-content: space-between;

} */

nav ul li {
    display: inline-block;
    width: 5rem;
}

nav img {
    width: 3rem;
    height: 3rem;
}

.navActive {
    border-top: 2px solid #04afa8;
    color: #04afa8;
    /* font-weight: 400; */
}

header {
    width: 50%;
    color: white
}

#destinationChecker {
    background-color: #ffffff;
    width: 60%;
    border-radius: 7px;
    margin: auto;
    display: flex;
}

#destinationChecker label {
    font-size: 1rem;
}

#destinationChecker button {
    width: 8rem;
    height: 2rem;
    border-radius: 15px;
    background-color:#ff710f;
    border: none;
    
}

/* Feature section */

/* Package section */

#packageHeader {
    text-align: center;
    width: 55%;
    margin: auto;
}

#packagesHeaderText {
    font-size: 14px;
    opacity: 0.75;
    color: #222b45;
}

#packagePanels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    background-color: #f7f9fc;
    border-radius: 8px;
    padding: 2rem;
    min-width: 250px;

}

.panel:nth-child(2) {
    box-shadow: 0px 14px 28px #00000026;;
}

.packagePrice {
    color: #04afa8;
    font-size: 28px;
    font-family: 'Barlow';
    font-weight: bold;
}

.packagePriceSpan {
    font-size: 16px;
    vertical-align: middle;
    font-weight: lighter;
}

.packageDescription {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #222b45;
    opacity: 0.5;
    margin-bottom: 1.5rem;
}

.panel li {
    list-style-image: url(images/check-box.svg);
    margin-bottom: 1.5rem;
    font-size: 14px;
}

.panel li span {
    margin-left: 1rem;
}

.panel button {
    width: 80%;
    border: none;
    border-radius: 25px;
    height: 2rem;
    margin-left: auto;
    background-color: #222b45;
    color: white;
    margin-top: 2.5rem;
}

.panel:nth-child(2) button {
    background-color: #ff710f;
}

/* Testimonial section */

/* Footer section */

footer {
    background-image: linear-gradient(296deg, #04afa8, #008DCD);
    background-repeat: no-repeat;
    padding: 6rem;
    color: #ffffff;
    display: flex;
    /* row-gap: 2rem; */
}


#contactUsForm  {
    height: 100%;
    width: 80%;
    background-color: #ffffff;
    margin-left: auto;
    max-width: 485px;
    border-radius: 8px;
    box-sizing: border-box;
}

#contactUsForm input {
    border: none;
    border-bottom: solid 1px #979797;
    height:4rem;
    margin-bottom: 1rem;
    width: 80%;
}

#contactUsForm button {
    width: 80%;
    margin: 2rem 0;
}